* {
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  align-items: center;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  padding-bottom: 17px;
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 100%;
}
.header-item-link-line {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #3d3d3d;
  text-decoration: none;
  position: relative;
}
 .header-item-link-line::after{
    display: block;
    position: absolute;
   
   top: 43px;
    content: "";
    background-color: #46a358;
width: 45px;
height: 3px;
} 
.header-item-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  text-decoration: none;
}
.header-top-right-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.basket-link{
    position: relative;
}
.basket-count{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #46a358;
    color: #fff;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 10px;
display: flex;
justify-content: center;
align-items: center;
top: 0;
right: -3px;
}
.header-top-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 6px;
  background: #46a358;
  border: none;
}
.header-hero {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    rgba(245, 245, 245, 0.5) 0%,
    rgba(245, 245, 245, 0.5) 100%
  );
  margin-top: 12px;
  padding-left: 43px;
}
.header-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-top: 68px;
  margin-bottom: 7px;
}
.header-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px;
  max-width: 580px;
}
.header-title-green {
  color: #46a358;
}
.header-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
  max-width: 557px;
}
.header-hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  background: #46a358;
  border-radius: 6px;
  padding-left: 26px;
  padding-right: 31px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
}
.header-hero-right {
position: relative;
}
.header-hero-right-img-small{
    position: absolute;
    bottom: 40px;
    left: 50px;
}
.products {
  margin-top: 26px;
}
.products-box {
  display: flex;
  gap: 50px;
}
.products-box-left {
background: #fbfbfb;
  padding-left: 18px;
  padding-right: 24px;
  width: 310px;
}
.products-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  padding-top: 14px;
  margin-bottom: 14px;
}
.products-left-list-categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 18px;
}
.products-left-item-categories-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-left-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  color: #3d3d3d;
  text-decoration: none;
}
.item-green {
  color: #46a358;
  font-weight: 700;
}
.range-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-top: 36px;
  margin-bottom: 20px;
}
.range-input {
  -webkit-appearance: none;
  border: 4px solid rgba(70, 163, 88, 0.2);
  width: 209px;
  height: 0px;
  margin-left: 30px;
  color: #46a358;
}
.range-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  margin-top: 21px;
  margin-left: 18px;
}
.range-text-green {
  font-weight: 700;
  color: #46a358;
}
.range-btn {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  padding: 8px 26px;
  margin-top: 16px;
  border-radius: 6px;
  background: #46a358;
  margin-left: 18px;
}
.size-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-top: 46px;
  margin-bottom: 15px;
}
.products-left-list-size {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 20px;
}
.products-left-list-item-size {
  padding-left: 18px;
}
.products-left-item-size-box {
  display: flex;
  justify-content: space-between;
}
.products-left-item-size-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  color: #3d3d3d;
  text-decoration: none;
}
.products-left-item-size-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  text-align: right;
  color: #3d3d3d;
}
.products-left-img {
  display: block;
  width: calc(100% + 97px);
position: relative;
right: 44px;

}
.products-box-right-box {
  display: flex;
justify-content: space-between;
align-items: center;
}
.products-right-box-list{
    display: flex;
    gap: 38px;
}
.products-right-box-item-link-gr{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 15px;
line-height: 107%;
color: #46a358;
text-decoration: none;
}
.products-right-box-item-link-gr::after{
    display: block;
    content: "";
    border-bottom: 2px solid #46a358;
width: 65px;
height: 0px;
margin-top: 7px;
}
.products-right-box-item-link{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 107%;
color: #3d3d3d;
text-decoration: none;
}
.sort-label{
    margin-right: 12px;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 107%;
color: #3d3d3d;
}
.sort-select{
    border: none;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 107%;
color: #3d3d3d;

}

.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    row-gap: 88px;
    align-items: center;
    margin-top: 62px;
}
.products-list-item{
    width: calc(33.33% - 41px);
    align-items: center;
    height: 286px;
    position: relative;
}

.products-list-item-link{
    text-decoration: none;
}
.products-item-box-bg{
    background-color: #fbfbfb;
    padding-bottom: 30px;
    position: relative;
}
.products-item-img{
    display: block;
    width: 100%;
}
.products-item-box-bg-smaller{
    padding-bottom: 0px; /*?????????????????????????????*/
}
.products-item-title{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: #3d3d3d;
margin-top: 12px;
margin-bottom: 6px;
}
.products-item-text{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #46a358;
}
.products-item-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.products-list-item:hover .products-item-list{
opacity: 1;
}
.products-item-old-price-box{
    display: flex;
    gap: 12px;
}
.products-item-old-price{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 89%;
color: #a5a5a5;
text-decoration: line-through;
}
.product-discount{
  width: 80px;
height: 29px;
background: #46a358;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}
.discount-text{
 font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 100%;
color: #fff;
}
.box-buttons{
 display: flex;
 gap: 20px;
 justify-content: right;
 margin-top: 90px;
 margin-bottom: 94px;
}
.page-btn{
    border: none;
font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 89%;
color: #3d3d3d;
border: 1px solid #e5e5e5;
border-radius: 4px;
padding-top: 9px;
padding-bottom: 10px;
padding-left: 13px;
padding-right: 12px;
background: transparent;

}
.page-btn-gr{
    background: #46a358;
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #fff;
}
.featured-title{
    visibility: hidden;
}
.featured-list{
    display: flex;
    justify-content: space-between;
    gap: 34px;
}
.featured-list-item{
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.featured-item-box{
    display: flex;
    justify-content: space-between;
}
.featured-item-box-right{
    padding-right: 25px;
}
.featured-item-box-title{
    font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: 18px;
line-height: 133%;
text-transform: uppercase;
text-align: right;
color: #3d3d3d;
margin-left: auto;
margin-top: 30px;
max-width: 152px;
}
.featured-item-box-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 171%;
text-align: right;
color: #727272;
max-width: 280px;
margin-top: 10px;
}
.featured-item-box-btn{
    display: flex;
    justify-content: center;
    background: #46a358;
    border-radius: 6px;
padding: 8px 30px;
border: none;
margin-left: auto;
margin-top: 20px;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #fff;
gap: 10px;
}
.featured-item-box-left-img{
    position: relative;
    top: -40px;
}
.blog-title{
   font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 53%;
text-align: center;
color: #3d3d3d; 
margin-top: 124px;
margin-bottom: 15px;
}
.blog-text{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 171%;
text-align: center;
color: #727272;
max-width: 480px;  
margin: 0 auto;
}
.blog-list{
    display: flex;
    gap: 44px;
    margin-top: 35px;
    margin-bottom: 100px;
}
.blog-list-item{
    background: #fbfbfb;
    padding-bottom: 13px;
}
.blog-item-img{
    display: block;
    width: 100%;
}
.blog-item-date-text{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 114%;
color: #46a358;
margin-top: 9px;
margin-bottom: 4px;
max-width: 240px;
padding-left: 15px;
}
.blog-item-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 20px;
line-height: 130%;
color: #3d3d3d;
padding-left: 15px;
}
.w-181px{
    max-width: 200px;
}
.w-197px{
    max-width: 197px
}
.w-164px{
    max-width: 180px;
}
.blog-item-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 157%;
color: #727272;
max-width: 242px;
margin-top: 4px;
margin-bottom: 9px;
padding-left: 15px;
}
.blog-item-link{
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 114%;
color: #3d3d3d;
padding-left: 15px;
text-decoration: none;
}
.blog-item-link-green{
    color: #46a358;
}
.footer-top-box{
  display: flex;
  background: #fbfbfb;
  gap: 62px;
  padding-top: 37px;
  padding-bottom: 24px;
}
.footer-top-box-list{
  display: flex;
  gap: 62px;
  padding-left: 23px;
  align-items: center;
}
.footer-top-box-list-item{
  position: relative;
}
.footer-top-box-list-item::after{
  content: "";
  position: absolute;
  display: block;
  width: 74px;
  height: 74px;
border-radius: 50%;
background: rgba(70, 163, 88, 0.13);
top: 20px;
left: -12px;
}
.footer-box-item-line{
border-right: 1px solid rgba(70, 163, 88, 0.1);
padding-right: 34px;
}

.footer-top-box-item-title{
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 17px;
line-height: 94%;
color: #3d3d3d;
margin-top: 15px;
margin-bottom: 9px;
}
.footer-top-box-item-text{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 157%;
color: #727272;
max-width: 204px;
}
.footer-title{
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #3d3d3d;
margin-bottom: 18px;
}

.footer-top-box-right{
max-width: 354px;
padding-right: 25px;
}
.footer-top-box-right-box{
position: relative;
margin-bottom: 17px;
}
.footer-input-btn{
  position: absolute;
  top: 0;
  right: 0;
}
.footer-input{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 114%;
border-radius: 6px;
width: 100%;
border: none;
background: #fff;
padding-left: 11px;
padding-top: 12px;
padding-bottom: 12px;
}
.footer-input-btn{
  display: block;
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #fff;
background: #46a358;
border: none;
border-radius: 0 6px 6px 0;
width: 85px;
padding-top: 12px;
padding-bottom: 12px;
}
.footer-top-box-right-text{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 13px;
line-height: 169%;
color: #727272;
max-width: 354px;
}
.footer-middle{
  padding-top: 24px;
  padding-left: 23px;
  padding-bottom: 24px;
  border-top: 0.5px solid #46a358;
  border-bottom: 0.5px solid #46a358;
  background: rgba(79, 180, 97, 0.1);
  display: flex;
  gap: 87px;
  align-items: center;
}
.footer-middle-list{
  display: flex;
  gap: 70px;
}
.footer-middle-list-item{
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-middle-item-text{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 157%;
color: #3d3d3d;
max-width: 166px;
}
.footer-bottom-box{
  padding-top: 32px;
  padding-bottom: 27px;
  display: flex;
  background: #fbfbfb;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}
.footer-bottom-box-left{
display: flex;
}
.footer-bottom-list {
  display: flex;
  flex-direction: column;
gap: 5px;
}
.footer-bottom-item-title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #3d3d3d;
margin-bottom: 8px;
}
.footer-bottom-item-link{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 214%;
color: #3d3d3d;
text-decoration: none;
}
.mr-169{
margin-right: 169px;
padding-left: 23px;
}
.mr-143{
margin-right: 143px;
}
.mr-179{
margin-right: 179px;
}
.footer-bottom-right-title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #3d3d3d;
margin-bottom: 20px;
}
.footer-bottom-social-list{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 33px;
}
.footer-bottom-social-item{
  align-items: center;
}
.footer-bottom-social-item-img{
  border: 1px solid rgba(70, 163, 88, 0.2);
border-radius: 4px;
display: block;
padding: 7px 11px;
}
.inst-img{
  padding: 7px;
}
.twitter-img{
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 8px;
  padding-bottom: 9px;
}
.linkedin-img{
  padding: 7px;
}
.union-img{
  padding-left: 6px;
  padding-right: 5.3px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer-bottom-right-payments-title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 89%;
color: #3d3d3d;
margin-bottom: 13px;
}

.footer-bottom-text{
  text-align: center;
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 214%;
color: #3d3d3d;
margin-top: 7px;
}

.container-form{
  max-width: 500px;
  margin: 0 auto;
}
.close-btn{
  display: block;
  margin-left: auto;
  margin-top: 13px;
  margin-right: 13px;
  margin-bottom: 21px;
  border: none;
  background-color: transparent;
}
.login-box{
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.login-link{
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 80%;
color: #3d3d3d;
padding-right: 14px;
border-right: 1px solid #3d3d3d;;
text-decoration: none;
}
.register-link{
  text-decoration: none;
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 80%;
color: #46a358;
}
.input-box{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 41px;
}
.form-title{
  font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
line-height: 123%;
color: #3d3d3d;
margin-bottom: 14px;
text-align: center;
}
.form-input{

  width: 300px;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 114%;
color: #a5a5a5;
border: 1px solid #eaeaea;
border-radius: 5px;

}
.register-btn{
  display: block;
  margin: 0 auto;
border: none;
border-radius: 5px;
width: 300px;
height: 45px;
background: #46a358;
 font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 100%;
color: #fff;
margin-bottom: 36px;
}
.form-text{
  margin-bottom: 27px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
line-height: 123%;
color: #3d3d3d;
display: flex;
align-items: center;
justify-content: center;
gap: 6px;
padding-right: 6px;
}
.form-text::before{
  content: "";
  border-bottom: 1px solid #eaeaea;
  width: 97px;
}
.form-text::after{
  content: "";
  border-bottom: 1px solid #eaeaea;
  width: 97px;
}
.register-with-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.register-with{
  display: flex;
  font-family: var(--font-family);
font-weight: 500;
font-size: 13px;
line-height: 123%;
text-align: center;
color: #727272;
border: 1px solid #eaeaea;
border-radius: 5px;
width: 300px;
height: 40px;
align-items: center;
justify-content: center;
gap: 14px;
text-decoration: none;
}
.bottom-color{
  margin-top: 40px;
  height: 10px;
  background: #46a358;
}